body {
	font-family: sans-serif;
}

p, ul, ol {
	font-size: 1em;
	margin: 1em 0;
	word-break: break-all;
}

h1 {
	font-size: 2em;
	margin: 0.5em 0;
}

h2 {
	font-size: 1.5em;
	margin: 1em 0;

h3, h4, h5, h6 {
	font-size: 1.3em;
	margin: 0.5em 0;
}

blockquote {
	font-style: italic;
	margin: 1.5em;
	border-radius: 4px;
	background-color: darken($background-color, 5%);
	padding: 0 1.5em;
	p, ul, ol {
		padding: 1.5em 0;
	}
}

// @media (min-width: 940px) {

// 	p, ul, ol {
// 		font-size: 1em;
// 		margin: 1em 0;
// 	}

// 	h1 {
// 		font-size: 2.6667em;
// 		padding: 0.25em 0;
// 	}

// 	h2 {
// 		font-size: 2em;
// 		padding: 0.66667em 0;
// 	}

// 	h3, h4, h5, h6 {
// 		font-size: 1.3334em;
// 		padding: 0.5em 0;
// 	}

// 	blockquote {
// 		font-style: italic;
// 		margin: 1.3334em;
// 		border-radius: 4px;
// 		background-color: darken($background-color, 5%);
// 		padding: 0 1.33334em;
// 		p, ul, ol {
// 			padding: 1.33334em 0;
// 		}
// 	}

// }